.github-brand-button {
    background-color: rgb(51,51,51);
    border-color: transparent;
    padding: 5px;
    color: white;
}

b {
    font-size: 1.2em;
}

.more-info {
    background-color: #FFF3CD;
    padding: 25px;
}
