<section id="home">
    <div *ngIf="!configured else main">
        <div [innerHTML]="config.descriptionHtml | safeHtml"></div>
    </div>
    <ng-template #main>
        <div class="more-info">
            <p>
                Make sure to follow the installation instructions on the GitHub OAuth marketplace extension page within
                Xano. You will need to get a client id and client secret from GitHub and populate it within your Xano
                account.
            </p>
            <p>
                GitHub requires <code>User-Agent</code> header you can set this with
                <code>header_user_agent</code> in your env variables or keep default.
            </p>
            <p>
                For this demo, you will need to populate the authorized redirect URI within your OAuth client ID with
                the
                following value:
            </p>
            <code>{{redirectUri}}</code>
            <p class="pt-2">
                This value would change to your own hostname if you were using this extension within your own
                project.
            </p>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between pr-lg-5 pl-lg-5">
            <div class="text-center mt-4">
                <b>Login with GitHub</b>
                <p class="mt-2">Account must already exist</p>
                <button class="github-brand-button" (click)="initGithub('login')">
                    <img src="assets/images/GitHub-Mark-Light-120px-plus.png" width="40px">
                    <b class="ml-2">Login with GitHub</b>
                </button>
            </div>
            <div class="text-center  mt-4">
                <b>Sign up with GitHub</b>
                <p class="mt-2">Account must not exist</p>
                <button class="github-brand-button" (click)="initGithub('signup')">
                    <img src="assets/images/GitHub-Mark-Light-120px-plus.png" width="40px">
                    <b class="ml-2">Sign up with GitHub</b>
                </button>
            </div>
            <div class="text-center  mt-4">
                <b>Continue with GitHub</b>
                <p class="mt-2">Sign up or Sign in</p>
                <button class="github-brand-button" (click)="initGithub('continue')">
                    <img src="assets/images/GitHub-Mark-Light-120px-plus.png" width="40px">
                    <b class="ml-2">Continue with GitHub</b>
                </button>
            </div>


        </div>
    </ng-template>
</section>
